/*
author: Nguyen Tuan Anh

created: 7/10/2025

last modified: 10/10/2025

description: css file for about.html page
*/
#interests-table{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 20px;
}
#interests-table th, td{
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}
.h3c{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: black;
}

#h1header{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: darkslategray;
}
#pheader{
    text-align: center;
    font-size: 1.2em;
    color: dimgray;
}

/*Member Intro Section*/

.social {
    padding-top: 10px;
    width: 2rem;
    height: auto;
}

.members {
  padding: 50px;
  text-align: center;
}

.members h2 {
  font-weight: 600;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.member-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

