/*
filename: apply
author: Luu Tri Khoa Tung
created: October 7, 2025
last modified: October 9, 2025
description: apply.html
*/
/* body */
body{
    background-color: rgb(255, 255, 255);
}

/* navbar */
header{
    position: sticky;
    top: 0;
}
/* form layout */
#apply-form{
    display: flex;
    justify-content: center;
}
form{
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 40px 60px 25px;
    margin: 50px 0;
}
/* selection layout */
#job-selection{
    display: flex;
    flex-direction: column;
}
/* name layout */
#name{
    display: flex;
    gap: 130px;
}
#first-name, #last-name{
    display: flex;
    flex-direction: column;
}
#first-name input, #last-name input{
    width: 170%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 1.5px solid black;
    background: transparent;
    transition: 0.3s ease;
    padding: 5px;
}
#first-name input:hover, #last-name input:hover{
    transform: scaleX(1.1);
}
#skill-cols{
    display: flex;
}
#other-skill{
    display: flex;
    flex-direction: column;
}

/* footer */
