/*
filename: apply
author: Luu Tri Khoa Tung
created: October 7, 2025
last modified: October 9, 2025
description: apply.html
*/

/* reset browser default margin */
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgba(175, 238, 238, 0.188);
}

/* change form layout */
#application{
    display: flex;
    justify-content: center;
}
form{
    color: white;
    border: 2px inset rgb(244, 240, 240);
    padding: 1em;
    margin: 3em;
    background: linear-gradient(to right, #0075d4d5, #3f51b5);
    box-shadow: 5px 5px 2px #0d090717;
    border-radius: 20px;
    width: 70%;
    height: auto;
}
legend{
    font-weight: bold;
}
form #jobsec{
    border: 0;
    margin-top: 2em;
    margin-bottom: 0.4em;
}
form #info{
    border: 0;
    display: flex;
    width: 50%;
    flex-direction: column;
}
form #info label, #info input{
    margin: 0.4em 0;
}
form #gend{
    border: 0;
    margin: 0.4em 0;
}
form #gend label, #gend input{
    margin: 0.4em 0;
}
form #address-info{
    width: 50%;
    border: 0;
    display: flex;
    flex-direction: column;
}
form #address-info label, #address-info input{
    margin: 0.4em 0;
}
form #contact-info{
    width: 50%;
    border: 0;
    display: flex;
    flex-direction: column;
}
form #contact-info label, #contact-info input{
    margin: 0.4em 0;
}
form #req{
    width: 50%;
    border: 0;
    display: flex;
    flex-direction: column;
}
form #req label, #req textarea, form #req p{
    margin: 0.4em 0;
}
form #req p label{
    margin-left: 0.5em;
}
form #submit{
    width: 70px;
    height: 50px;
    transition: 0.5s ease;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
form #submit:hover{
    background-color: darkslategray;
    color: white;
}