/* Kenzie Nguyen - COS10026 - S1 2025 - SeekJobs Project */

/* Global Reset */
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 60px;
}

h3 {
  font-size: 1rem;
  padding-bottom: 0.8rem;
  font-weight: 500;
}

body {
  background-color: #f8f9fb;
  color: #333;
  line-height: 3;
}

/* Navigation */

body{
    background-color: rgba(235, 245, 245, 0.171);
}

.logo {
    width: 80px;
    height: auto;
}

#nav-bar{
    padding: 0.8em 0.8em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000d4;  
    height: 40px;
    position:sticky;
    top:0;
    bottom:0;
}
#nav-bar #nav-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#nav-bar #nav-menu .logo{
    transition: 0.5s ease;
}

#nav-bar #nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style:none;
    gap: 60px;
}
#nav-bar #nav-menu #nav-link{
    padding: 10px 18px;
    border-radius: 18px;
    transition: 0.5s ease;
}
#nav-bar #nav-menu #nav-link:hover{
    background-color:rgba(47, 79, 79, 0.637);
    color: white;
}


/* Header Section */
.section-header {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #00bcd4, #3f51b5);
  color: white;
}

.section-header h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.btn {
  background-color: #fff;
  color: #3f51b5;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3f51b5;
  color: white;
}

.btn-small {
  background-color: #00bcd4;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
}

/* Featured Jobs */
.featured {
  padding: 50px;
  text-align: center;
}

.featured h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.job-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* Jobs List */
.jobs-list {
  padding: 60px;
  max-width: 900px;
  margin: auto;
}

.job-item {
  background: white;
  padding: 25px;
  margin-bottom: 20px;
  border-left: 5px solid #00bcd4;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}



/* Footer */
footer {
  text-align: left;
  background-color: #1f2937b9;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  margin-top: 10px;
}

